@page "/"
@inject NavigationManager navigation;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Productive Mind</title>
    <link rel="stylesheet" href="css/Style.css" />
</head>
<body>
    <div class="container-flex">
        <img class="image" src="Images/Welcome3.png" alt="Image" />

        <div class="text-container">
            <h1>Radiant Flow</h1>
            <p>A sleek, intuitive app for managing goals and projects. Stay focused and organized easily. Illuminate your productivity with Radiant Flow.</p>
            <button @onclick="SignUp" type="button" class="b btn btn-warning w-100">Get Started</button>
            <br />
            <button @onclick="SignIn" class="b bt w-100">Already have account? Sign in</button>
        </div>

    </div>
</body>
</html>

@code {
    private void SignUp()
    {
        navigation.NavigateTo("/SignUp");
    }
    private void SignIn()
    {
        navigation.NavigateTo("/SignIn");
    }
}
